<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="warn">
    <Properties>
        <Property name="basePath">C:/Users/nnbak/netbeans/JavaRushModule3/hippodrome/logs</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <RollingFile name="infoLog"
                     fileName="${basePath}/hippodrome1.log"
                     filePattern="${basePath}/hippodrome1-%d{yyyy-MM-dd}.log">
            <LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>

            <DefaultRolloverStrategy>
                <Delete basePath="${basePath}" maxDepth="7">
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="hippodrome" additivity="false" level="info">
            <AppenderRef ref="infoLog"  />
        </Logger>
        <Root level="info" additivity="false">
            <AppenderRef ref="Console"  />
        </Root>
    </Loggers>
</Configuration>
